:root {
    --vh: 100%;
 }
 
 html,
 body {
    height: 100%;
    height: var(--vh);
    margin: 0;
    padding: 0;
 }
.dark body{
    background: #2b2b2b;
    color: #fff;
}

.light body{
    font-family: '';
    background: #fff;
}


/* .dark pre code {
    text-align: left !important;
    background-color: rgb(138, 138, 138) !important;
    color:#fff;
} */

/* .dark pre {
    text-align: left !important;
    background-color: rgb(138, 138, 138) !important;
    color:#fff;
} */


.flex-horizontal{
    display:flex;
    align-items: center;
}


.dark input[type=text]{
    color:#fff;
}

.light input[type=text]{
    color:#000;
}
